@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url(../src/assets/bg-pattern-intro-left-desktop.svg);
  position: relative;
  top: 26.8rem;
  z-index: 99;
  background-repeat: no-repeat;
  width: 14.8%;
}
.right-background {
  background-image: url(../src/assets/bg-pattern-intro-right-desktop.svg);
  background-position: right;
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
  width: 100%;
}
/* .bgimage {
  background-image: url(../src/assets/bg-pattern-footer-desktop.svg);
  background-position: left;
  position: relative;
  bottom: 2rem;
  width: 35rem;
  height: 100%;
  background-repeat: no-repeat;
} */
